<div class="container ">
    <% if false %>
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <img src="..." class="rounded mr-2" alt="...">
            <strong class="mr-auto">Notification</strong>
            <small>Just now</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body">
            <p id=notice><%= notice %></p>
          </div>
        </div>
    <% end %>

    <div class="row">
        <div class="col-12 col-sm-12 py-5 px-5 ">
            <h1 class="text-center">Repositories</h1>
        </div>
    </div>
    <div class="row bg-light">
      <%= form_for repositories_path, method: :get do |f| %>
        Desde:
        <%= f.date_field :from, as: :date %>
        Hasta:
        <%= f.date_field :until, as: :date %>
        <%= submit_tag "Search" %>
      <% end %>

      <%= params.inspect %>

        <div class="col-12 py-5 px-5 ">
            <div class="dropdown allign-center">
                <button class="btn btn-secondary dropdown-toggle mx-auto" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Organizations
                </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <% @orgs.each do |org| %>
                <%=link_to org.name , "/orgs/" + org.name, class:"dropdown-item", id: org.name, remote:true %>

              <% end %>
            </div>
            </div>
        </div>

        <div id="list_repos" class="col-12 py-5 px-5">

        </div>

    </div>

</div>



<br>
<% if false %>
<%= link_to 'New Repository', new_repository_path %>
<% end %>

<script>
    function show_repos(event, data){
        //data.repos contains partial rendered into string
        $("#list_repos").html(data.repos);


    }

    function display_error(event, data){

        console.log(data);
    }

    $(document).ready(function() {
        $('.dropdown-item').each(function(){
            $(this).css({'cursor': 'pointer'});
        });

        $('.dropdown-item').on ('ajax:success', show_repos)
        $('.dropdown-item').on ('ajax:error', display_error)


    });


</script>
