<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 py-5 px-5 ">
            <h1 class="text-center" style="padding: 1em 0px 0px 0px"><%= @author.name %></h1>
            <p class="text-center"><%= @repository.name %></p>
        </div>
    </div>
	<div class="row">
		<div class="col-sm-7 offset-sm-1 ">
            <div class="card">
                <div class="card-body">
                    <div class="card-title text-center"> <strong>Commits</strong> </div>

                    <ul class="list-group"; max-height: 300px;">
                        <% @commits.each do |commit| %>
                            <li class="list-group-item">
                                 <div class="row">
								 <% if @from_date && @until_date %>
                                   <div class="col-3 offset-1"><strong>Message:</strong> <%= commit.message %></div>
                                     <div class="col-2"><strong>Additions:</strong> <%= commit.additions %> </div>
                                     <div class="col-2"><strong>Deletions:</strong> <%= commit.deletions %> </div>
                                     <div class="col-2"><strong>Created:</strong> <%= commit.created %> </div>
                                 <% else %>
									 <div class="col-3 offset-1"><strong>Message:</strong> <%= commit.message %></div>
                                     <div class="col-2"><strong>Additions:</strong> <%= commit.additions %> </div>
                                     <div class="col-2"><strong>Deletions:</strong> <%= commit.deletions %> </div>
                                     <div class="col-2"><strong>Created:</strong> <%= commit.created %> </div>
                                 <% end %>
                                 </div>
                            </li>
                        <%end%>
                    </ul>
                </div>
            </div>
        </div>
	</div>
</div>
