<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 py-5 px-5 ">
            <h1 class="text-center "><%= @repository.name %></h1>
            <p class="text-center"><%= @repository.description %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
                    <%= high_chart("some_id", @chart) %>
        </div>
        <div class="col-sm-7 offset-sm-1 ">
            <div class="card">
                <div class="card-body">
                    <div class="card-title text-center "> Colaboradores</div>

                    <ul class="list-group" data-spy="scroll" style="overflow: scroll; max-height: 300px;">
                        <% @authors.each do |author| %>
                            <li class="list-group-item">
                                 Name: <%= author.name %>
                                 A: <%= @repository.commits.where(author_username: author.username).sum(&:additions) %>
                                 D: <%= @repository.commits.where(author_username: author.username).sum(&:deletions) %>
                                 M: <%= @repository.commits.where(author_username: author.username).sum(&:files_changed) %>
                            </li>
                        <%end%>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
