
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12 py-5 px-5 ">
            <h1 class="text-center "><%= @repository.name %></h1>
            <p class="text-center"><%= @repository.description %></p>
        </div>


    </div>
    <div class="row">
        <div class="col-sm-4">
                    <%= high_chart("some_id", @chart) %>
        </div>
        <div class="col-sm-7 offset-sm-1 ">
            <div class="card">
                <div class="card-body">
                    <div class="card-title text-center "> Colaboradores</div>

                    <ul class="list-group" data-spy="scroll" style="overflow: scroll; max-height: 300px;">
                        <% @data.each do |email, value| %>
                            <li class="list-group-item">
                                 Name: <%=value["name"] %>
                                 A: <%=value["additions"] %>
                                 D: <%=value["deletions"] %>
                                 M: <%=value["modified"] %>

                            </li>
                        <%end%>



                    </ul>


                </div>
            </div>
        </div>

    </div>


</div>
